﻿<mat-form-field style="display: flex; flex-grow: grow; margin: 1em; padding: 0.5em">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
</mat-form-field>
<div *ngIf="sitesRepositoryService.sites.length > 0" class="container" style="display: flex; flex-grow: grow; margin: 1em; padding: 0.5em">
  <app-site *ngFor="let site of sitesRepositoryService.sites" [site]="site" [filter]=filterValue style="padding: 0.5em"></app-site>
</div>
